body { font: 12px Arial;}

path {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.characterLines{
  opacity:0.5;
}

#gagah{
  stroke:black;
}

#luruh{
  stroke:steelblue;
}

#jatayu{
  stroke:firebrick;
}

#raksasa{
  stroke:green;
}

#lanyap{
  stroke:orange;
}

#wanara{
  stroke:brown;
}


/*.doti{
  display:none;
}*/

/*#gato2{
  fill:red;
}*/
