body { font: 12px Arial;}

path {
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#jointangle{
  position:fixed;
  right:-100px;
  top:200px
}

.gagah{
  fill:red;
  color:red;
}

.luruh{
  fill:blue;
  color:blue;
}

.jatayu{
  fill:black;
  color:black;
}

.raksasa{
  fill:red;
  color:red;
}

.lanyap{
  fill:blue;
  color:blue;
}

.wanara{
  fill:black;
  color:black;
}

.circle {
      width: 14px;
      height: 14px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
    }
 
 #red{
	background:red
 }

#black{
	background:black
 }
 
 #blue{
	background:blue
 }
